<div>
 <h1>Settings</h1>
 <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing edit. In imperdiet ex sed orcilobortis porttitor.</p>
 <h5>G E N E R A L</h5>
 <hr>
 <div class="inp-wrap">  
	<label for="ch1" class="text">Launch on PC start</label>
	<input type="checkbox" class="checkbox" id="ch1"></input><label for="ch1"></label>
  </div>
 <div class="inp-wrap"> 
	<label for="ch2" class="text">Launch minimized in system tray</label>
	<input type="checkbox" class="checkbox" id="ch2"></input><label for="ch2"></label>
</div>
</div>
