<div>
	<h1>Settings</h1>
	<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing edit. In imperdiet ex sed orcilobortis porttitor.</p>
	<br>
	<h5>G E N E R A L</h5>
	<hr>
	<div class="inp-wrap">  
		<label for="ch1" class="text">Launch on PC start</label>
		<input type="checkbox" class="checkbox" id="ch1" ng-click="vm.modelReset()" ng-model="vm.l_st" ngTrueValue="true" ngFalseValue="false"></input>
		<label for="ch1"></label>
	</div>
	<div class="inp-wrap"> 
		<label for="ch2" class="text">Launch minimized in system tray</label>
		<input type="checkbox" class="checkbox" id="ch2" ng-click="vm.modelReset()" ng-model="vm.l_tr" ngTrueValue="true" ngFalseValue="false"></input>
		<label for="ch2"></label>
	</div>
	<br>
	<div class="button-wrap" ng-show="vm.isSelect()">
		<span ng-hide="vm.isStateSave()" ng-click="vm.cancel()" class="but-cancel">C A N C E L</span>
		<span ng-click="vm.save()" class="but-save" ng-class="{'save-active': vm.isStateSave()}">{{vm.btnSavCapt}}</span>
	<div>
</div>
